<!-- templates/home.html-->
{% extends 'HD_app/newbase.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Filtr zleceń wg czasu{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<!-- RAPORTY -->
  <section class="sec">
    <!-- TITLE -->
      <div class="row section_title">
        <div class="col col-12 col-sm-6 col-md-8 col-lg-9 mb-2">
          <h2><i class="fa fa-square-root-alt" aria-hidden="true"></i>&nbsp;Raport zleceń</h2>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 p-0">
          <div class="d-flex justify-content-end">
            <input type="text" class="input-sm form-control" id="k_search" placeholder="Szybkie szukanie..."></input>
          </div>
        </div>
        <div class="w-100"><hr class="hr_title"></div>
      </div>


      <!-- SEARCH-->
        <div class="row bg-light rounded mb-4 justify-content-end p-1">
          <div class="col-12 col-sm-6 col-md-8 col-lg-9 mb-2">
            <span><i class="fa text-danger fa-square-root-alt" aria-hidden="true"></i>&nbsp;Szukanie zleceń wg dat
            </span>
          </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0 text-right">
            <form class="" action="{% url 'Raport_1_filteredByTime' %}" method="get">
              <input class="datepicker shadow-sm form-control mb-1" name="s" type="text" placeholder="Start...">
              <input class="datepicker shadow-sm form-control mb-1" name="e" type="text" placeholder="Stop...">
              <button type="submit" class="btn btn-sm btn-primary shadow-sm mb-1"><i class="fa fa-search" aria-hidden="true"></i>
          Szukaj</button>
              </div>
            </form>
          <div class="w-100"></div>
        </div>


    <!-- KOLUMNY -->
      <div class="row">
          <div class="col">
            <span>Nazwa</span>
          </div>
          <div class="col">
            <span>Firma</span>
          </div>

                    
          <div class="col text-right">
            <span>Opcje</span>
          </div>
          <div class="w-100"><br></div>
      </div>


    <!-- LISTA -->
      <div class="ls">
        {% if orders %}
          {% for o in orders %}
          
          <div class="row justify-content-start ls_elem ih " style="display:none;">

            <div class="d-inline-flex p-1 pl-2 text-light bg-bg-1">
              <span><i class="fas fa-ticket-alt text-danger"></i>&nbsp;<b>{{ o.name }}</b></span><br>
            </div>

            <div class="d-inline-flex p-1 pl-2 text-light bg-bg-1">
              <span><i class="fas fa-building"
                      aria-hidden="true"></i>&nbsp;<b>{{ o.agreement.company.name }}</b></span>
            </div>


            <div class="col text-right text-light bg-bg-1">
              <span><a href="{% url 'Order_detail' o.id %}"><button class="btn btn-sm btn-primary shadow-sm mt-1 mb-1">Edycja</button></a></span>
              <span><a href="{% url 'Order_delete' o.id %}"><button class="btn btn-sm btn-danger shadow-sm mt-1 mb-1">Usuń</button></a></span>
            </div>
            <div class="w-100"><hr class="m-0"></div>
          <!-- Queries -->

            <div class="col-6 col-lg-3 bg-color-white border-b">
              <span><i class="far fa-clock text-danger"></i> Czas</span>
            </div>
            <div class="col-6 col-lg-3 bg-color-white text-right border-b">
              <span>{{ o.start_datetime|date:"Y-m-d h:i" }} do {{ o.end_datetime|date:"Y-m-d h:i" }}</span>
            </div>

            <div class="col-6 col-lg-3  bg-color-white border-b">
              <span><i class="fas fa-box-open text-danger"></i> Pakiet:</span>
            </div>
            <div class="col-6 col-lg-3 bg-color-white text-right border-b">
             <span>{{ o.agreement.pakiet.name }}</span>
            </div>

            <div class="col-6 col-lg-3 bg-color-white border-b">
              <span><i class="fas fa-hourglass-start text-danger"></i> Eta</span>
            </div>
            <div class="col-6 col-lg-3 bg-color-white text-right border-b">
              <span>{{ o.end_datetime|timeuntil:o.start_datetime }}</span>
            </div>

            <div class="col-6 col-lg-3 bg-color-white border-b">
              <span><i class="fas fa-user text-danger"></i> Opiekun</span>
            </div>
            <div class="col-6 col-lg-3 bg-color-white text-right border-b">
              <span>{{ o.care.first_name }} {{ o.care.last_name }}</span>
            </div>

            <div class="col-6 bg-color-white border-b">
              <span><i class="fas fa-coins text-danger"></i> Koszt</span>
            </div>
            <div class="col-6 bg-color-white text-right border-b font-weight-bold text-danger">
              <span><i class="fas fa-coins text-danger"></i> {{ o.calculate_order }}&nbsp;PLN</span>
            </div>
          </div>
            <div class="mb-2"></div>

          {% endfor %}
        {% else %}
          <span>Brak wpisanych zleceń</span>
        {% endif %}
        <div class="col-12 col-sm-6">
        </div>
      </div>
  </section>


<!-- JS-->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>




{% else %}
<div class="container">
  <div class="row p-1">
    <div class="col-12">
      <p>Nie jestes zalogowany!</p>
      <img src="{% static 'img/gob_logo.png' %}" alt="logo"><br>
      <span><a href="{% url 'login' %}">Zaloguj</a></span><br>
      <span><a href="{% url 'register2' %}">Zarejestuj</a></span>
    </div>
  </div>
</div>
{% endif %}



</script>


{% endblock %}